mat-toolbar {
  /*background-color: #004a9f;*/
  color: white;
}

mat-sidenav {
  margin: 16px;
  width: 300px;
  border-right: none;
  /*background: #a6adc4;*/
  color: #261111;
  border-radius: 4px;
  padding: 18px;
  text-align: center;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.content {
  height: calc(100vh - 98px);
  margin: 16px;
  margin-left: 32px;
  /*display: flex;*/

  color: lightblue;
  border-radius: 10px;
}

.text-menu {
  margin-top: 10px;
}

.logout-button {
  position: absolute;
  display: inline-block;
  right: 20px;
  top: 11px;
  text-align: right;
}

.logout-text {
  position: absolute;
  display: inline-block;
  right: 50px;
  top: 15px;
  text-align: right;
}

.my-custom-style {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.message-button {
  position: absolute;
  display: inline-block;
  right: 146px;
  top: 12px;
}

.message-text {
  position: absolute;
  display: inline-block;
  right: 180px;
  font-size: 14px!important;
  top: 15px;
  text-align: right;
}
