<!--не забудь перенести тулбар в отдельный компонент!-->
<div *ngIf="!isAuthorized">

  <router-outlet></router-outlet>

</div>
<mat-toolbar *ngIf="isAuthorized && sidenavIsReady">


  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>

    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  <p class="mat-menu-panel pointer text-menu" *ngIf="sidenav.opened"
     (click)="sidenav.toggle()"
  >Скрыть меню</p>
  <p class="mat-menu-panel pointer text-menu" *ngIf="!sidenav.opened"
     (click)="sidenav.toggle()"
  >Показать меню</p>

  <div>

    <button class="logout-button" mat-icon-button (click)="logout()">
      <mat-icon>
        logout
      </mat-icon>
    </button>

    <p class="mat-menu-panel pointer logout-text"
       (click)="logout()"
    >Logout</p>

  </div>
</mat-toolbar>

<mat-sidenav-container *ngIf="isAuthorized">
  <mat-sidenav #sidenav="matSidenav">
    <app-servers [servers]="servers"
                 [serverSearchValues]="serverSearchValues"
                 [selectedServer]="selectedServer"

                 (onSelectedServer)="onSelectedServer($event)"
                 (searchParams)="searchingByServer($event)"
    >

    </app-servers>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <app-cameras [channels]="channels"
                   [channelSearchValues]="channelSearchValues"
                   [switches]="switches"
                   [totalChannelsFounded]="totalChannelsFounded"

                   (searchParams)="searchingByParams($event)"
                   (addSwitch)="addSwitch($event)"
                   (changeSelectedServer)="changeSelectedServer($event)"
                   (updateChannel)="updateChannel($event)"
                   (rebootCamera)="rebootCamera($event)"

                   (paging)="paging($event)"
      >

      </app-cameras>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>

