<h2 class="title">Редактирование камеры</h2>

<div mat-dialog-content class="row">
  <mat-form-field class="col-12">
    <mat-label>Название камеры</mat-label>
    <input [disabled]="true"
           #inputName
           matInput
           [ngModel]="tmpChannel.name ? tmpChannel.name : 'Имя неизвестно'"
    >

  </mat-form-field>

  <mat-form-field class="col-12">
    <mat-label>Сервер</mat-label>
    <input [disabled]="true"
           #inputName
           matInput
           [ngModel]="tmpChannel.guidServer ? tmpChannel.guidServer.serverName : 'Имя сервера неизвестно'"
    >

  </mat-form-field>

  <mat-form-field class="col-12">
    <mat-label>IP адрес камеры</mat-label>
    <input [disabled]="true"
           matInput
           [ngModel]="tmpChannel.ip ? tmpChannel.ip : 'IP адрес неизвестен'"
    >

  </mat-form-field>

  <mat-form-field class="col-12">
    <mat-label>Модель</mat-label>
    <input [disabled]="true"
           matInput
           [ngModel]="tmpChannel.model ? tmpChannel.model : 'Модель неизвестна'"
    >
  </mat-form-field>

  <mat-form-field class="col-12" appearance="outline">
    <mat-label>Выберите коммутатор</mat-label>
    <mat-select [(value)]="htmlSwitchIp"
                (valueChange)="onSelectSwitch($event); changeSwitchPortNumbers($event); htmlPortNumber = null;">
      <mat-option

        [value]=null>Неизвестно
      </mat-option>
      <mat-option
        *ngFor="let newSwitch of tmpSwitches"

        [value]="newSwitch.ip"
        >{{newSwitch.ip}}</mat-option>
    </mat-select>
    <button *ngIf="htmlSwitchIp"
            (click)="htmlSwitchIp = null; htmlPortNumber = null; $event.stopPropagation(); onSelectSwitch(htmlSwitchIp)"
            mat-button matSuffix mat-icon-button aria-label="Clear" class="size20">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="col-12" *ngIf="!htmlSwitch">
    <mat-label>Номер порта (сначала выберите коммутатор)</mat-label>
    <input type="number"
           matInput
           [disabled]="true"
           [ngModel]="htmlPortNumber">

  </mat-form-field>


  <mat-form-field class="col-12" *ngIf="htmlSwitch">
    <mat-label>Номер порта</mat-label>
    <input type="number"
           matInput
           [formControl]="numberFormControl"
           [(ngModel)]="htmlPortNumber"
           [readonly]="!htmlSwitch"
           (keyup)="checkChanges()"
           (mouseup)="checkChanges()"
    >
    <mat-error *ngIf="!htmlSwitch">
      Сначала выберите коммутатор
    </mat-error>
    <mat-error *ngIf="numberFormControl.hasError('min') && !numberFormControl.hasError('max')">
      Порт не может быть меньше 1
    </mat-error>
    <mat-error *ngIf="numberFormControl.hasError('max')">
      Такой порт на этом коммутаторе <strong>не существует</strong>
    </mat-error>

    <button *ngIf="htmlPortNumber"
            (click)="htmlPortNumber = null; $event.stopPropagation()"
            mat-button matSuffix mat-icon-button aria-label="Clear" class="size20">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="col-12" appearance="outline">
    <mat-label>Пое-инжектор</mat-label>
    <mat-select [(value)]="htmlPoeInj"
                (valueChange)="checkChanges()">
      <mat-option [value]="true">Есть</mat-option>
      <mat-option [value]="false">Нет</mat-option>
      <mat-option [value]="null">Неизвестно</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="col-12" appearance="outline">
    <mat-label>Потерянный канал?</mat-label>
    <mat-select [(value)]="htmlLostChannel"
                (valueChange)="checkChanges()"
    >
      <mat-option [value]="true">Да</mat-option>
      <mat-option [value]="false">Нет</mat-option>
    </mat-select>
  </mat-form-field>


</div>

<!--возможные операции над камерой-->
<div mat-dialog-actions>

  <div class="container-fluid">

    <button class="justify-content-center"
            mat-raised-button color="primary"
            (click)="confirm()"
            [disabled]="!wasChange || numberFormControl.hasError('min') || numberFormControl.hasError('max')" > <!-- если пустой текст, то кнопка неактивна-->
      Сохранить
    </button>
    <button mat-raised-button (click)="cancel()"
            class="justify-content-center"
    >Отмена
    </button>

  </div>

</div>
