<mat-form-field class="example-form-field-2">
  <mat-label>Поиск по названию</mat-label>
  <input matInput type="text" [(ngModel)]="tmpServerName"
         (keyup)="startSearch()"
         (keydown.escape)="tmpServerName=''; dropFilters()"
  >
  <button *ngIf="tmpServerName" matSuffix mat-icon-button aria-label="Clear" (click)="tmpServerName=''; dropFilters()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<div>
  <div class="sidenav-list"

       (click)="showSelectedServer(null)"
       [class.on-server-click]="selectedServer === undefined || null || selectedServer.guid == ''"
  >Все

    <div
      class="server-count-all">
      {{onlineChannelsCount}}/{{allChannelsCount}}
    </div>
  </div>


</div>


<div class="line"></div>


<div class="sidenav-list"
     [class.on-server-click]="server === selectedServer"
     *ngFor="let server of servers; let index = index"
     (click)="showSelectedServer(server)"
>
  <div class="">
    <span class=""
          [class.on-server-click]="server === selectedServer"
    >{{server.serverName ? server.serverName : 'Имя неизвестно'}}</span>

  </div>

  <div *ngIf="(server.channelsOnline == server.channelsTotal) &&  (server.channelsTotal != null || undefined)"
       class="server-count-green">
    {{server.channelsOnline ? server.channelsOnline : 0}}/{{server.channelsTotal ? server.channelsTotal : 0}}</div>

  <div *ngIf="(server.channelsOnline != server.channelsTotal) ||  (server.channelsTotal == null || undefined)"
       class="server-count-red">
    {{server.channelsOnline ? server.channelsOnline : 0}}/{{server.channelsTotal ? server.channelsTotal : 0}}</div>

</div>
