.sidenav-list {
  cursor: pointer;
  text-align-all: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 32px;
  display: flex;
  font-size: 14px;
  font-style: inherit;
  background-color: aliceblue;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 18px;
  text-transform: uppercase;
}

.test{
  box-shadow:0px 2px 4px -1px ;
}


.on-server-click {
  background: #cd179c;

}

.line  {
  border-bottom: 1px solid #dadada;
  padding-top: 10px;
}


.example-form-field-2 {
  margin: 4px !important;
  margin-bottom: 4px !important;
}

mat-form-field {
  width: 180px !important;
}
