.sidenav-list {
  position: relative;
  cursor: pointer;
  text-align-all: right;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 32px;
  display: flex;
  font-size: 14px;
  font-style: inherit;
  background-color: #595959;
  margin-top: 12px;
  margin-bottom: 12px;
  color: white;
  border-radius: 6px;
  text-transform: uppercase;
  width: 80%;
  box-shadow: -3px 4px 20px -10px #000000;
}

.test {
  box-shadow: 0px 2px 4px -1px;
}


.on-server-click {
  background: #4fbdbd;

}

.line {
  border-bottom: 1px solid #dadada;
  padding-top: 10px;
}


.example-form-field-2 {
  margin: 4px !important;
  width: 100%;
  font-size: 15px;
  color: white;
  display: inline-block;
  margin-bottom: 4px !important;
}

mat-form-field {
  width: 170px !important;
}


.server-count-red {
  cursor: pointer;
  text-align-all: right;
  padding: 8px;
  position: absolute;
  left: 146px;
  bottom: -8px;
  box-shadow: -1px 2px 19px 0px #000000;
  /*padding-left: 32px;*/
  display: flex;
  font-size: 12px;
  font-style: inherit;
  background-color: #814f4f;
  margin-top: 12px;
  margin-bottom: 12px;
  color: white;
  border-radius: 11px;
  text-transform: uppercase;
  width: 30%;
}

.server-count-green {
  cursor: pointer;
  text-align-all: right;
  padding: 8px;
  position: absolute;
  left: 146px;
  bottom: -8px;
  /*padding-left: 32px;*/
  display: flex;
  font-size: 12px;
  font-style: inherit;
  background-color: #527258;
  margin-top: 12px;
  margin-bottom: 12px;
  color: white;
  border-radius: 11px;
  text-transform: uppercase;
  width: 30%;
  box-shadow: -1px 2px 19px 0px #000000;
}

.server-count-all {
  cursor: pointer;
  text-align-all: center;
  padding: 8px;
  position: absolute;
  left: 146px;
  bottom: -8px;
  box-shadow: -1px 2px 19px 0px #000000;
  /*padding-left: 32px;*/
  display: flex;
  font-size: 12px;
  font-style: inherit;
  background-color: #5f5279;
  margin-top: 12px;
  margin-bottom: 12px;
  color: white;
  border-radius: 11px;
  text-transform: uppercase;
  width: 30%;
}
