.sidenav-list {
  cursor: pointer;
  text-align-all: right;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 32px;
  display: flex;
  font-size: 14px;
  font-style: inherit;
  background-color: #595959;
  margin-top: 12px;
  margin-bottom: 12px;
  color: white;
  border-radius: 4px;
  text-transform: uppercase;
  width: 90%;
}

.test{
  box-shadow:0px 2px 4px -1px ;
}


.on-server-click {
  background: #4fbdbd;

}

.line  {
  border-bottom: 1px solid #dadada;
  padding-top: 10px;
}


.example-form-field-2 {
  margin: 4px !important;
  width: 100%;
  font-size: 15px;
  color: white;
  display: inline-block;
  margin-bottom: 4px !important;
}

mat-form-field {
  width: 170px !important;
}

.channels-count-good {
  background-color: #44cd5e;
  border-radius: 9px;
  color: white;
  border-color: #0f542b;
  width: 15%;
  border-style: groove;
  /*display: ;*/
  text-align: right !important;
}

.channels-count-bad {
  background-color: #d91414;
  border-radius: 9px;
  border-style: groove;
  border-color: #4a0808;
  color: white;
  width: 15%;
  /*display: inline-flex;*/
  text-align: right !important;
}

.server-list {
  text-align: left;
  width: 85%;
  /*display: flex;*/
}
