<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Камеры
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon>search</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="row">

      <div class="col-lg-3 col-md-6 col-sm-12  container">

        <mat-form-field class="example-form-field  container-fluid" appearance="outline">
          <mat-label>Поиск по названию</mat-label>
          <input matInput type="text" [(ngModel)]="tmpChannelName"
                 (keyup)="findByTitle()"
                 (keydown.escape)="tmpChannelName=''; dropChannelNameFilter();"
          >
          <button *ngIf="tmpChannelName" matSuffix mat-icon-button aria-label="Clear"
                  (click)="tmpChannelName=''; dropChannelNameFilter()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 container">

        <mat-form-field class="example-form-field container-fluid" appearance="outline">
          <mat-label>Поиск по ip камеры</mat-label>
          <input matInput type="text" [(ngModel)]="tmpChannelIp"
                 (keyup)="findByChannelIp()"
                 (keydown.escape)="tmpChannelIp=''; dropChannelIpFilter();"
          >
          <button *ngIf="tmpChannelIp" matSuffix mat-icon-button aria-label="Clear"
                  (click)="tmpChannelIp=''; dropChannelIpFilter()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 container">
        <mat-form-field class="container-fluid" appearance="outline">
          <mat-label>Фильтр по коммутатору</mat-label>
          <mat-select [(value)]="tmpSwitchId"
                      (selectionChange)="onFilterBySwitchIP(tmpSwitchId)">
            <mat-option
              *ngFor="let newSwitch of switches"
              (change)="onFilterBySwitch(newSwitch)"
              [value]="newSwitch.id">{{newSwitch.ip}}</mat-option>
          </mat-select>
          <button *ngIf="tmpSwitchId"
                  (click)="tmpSwitchId = null; dropSwitchFilter(); $event.stopPropagation()"
                  mat-button matSuffix mat-icon-button aria-label="Clear" class="size20">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 container">
        <mat-radio-group class="container-fluid" aria-label="Select an option"
                         [(ngModel)]="tmpChannelStatus"
                         (change)="onFilterByStatus()"
        >
          <mat-radio-button class="radio-button-green" [value]="1">В сети</mat-radio-button>
          <mat-radio-button class="radio-button-red" [value]="-1">Вне сети</mat-radio-button>
          <mat-radio-button class="radio-button-lost-channel" [value]="2">Lost</mat-radio-button>
          <mat-radio-button class="radio-button-default" [value]="null">Все</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<div class="row text-left-2">

  <div class="col-lg-5 col-md-5 col-sm-12"


       *ngIf="tmpChannelName || tmpChannelStatus || tmpSwitch || tmpSwitchId || changed || tmpChannelIp">

    <div mat-dialog-actions appearance="outline">
      <button mat-stroked-button color="warn"
              (click)="dropAllFilters()"

      >Сбросить фильтры
      </button>
    </div>

  </div>


  <!--  <div class="col-lg-5 col-md-5 col-sm-12 text-right-2">-->

  <!--    <div mat-dialog-actions appearance="fill"-->
  <!--    >-->
  <!--      <button mat-raised-button color="warn"-->
  <!--              (click)="openAddDialog()"-->

  <!--      >Добавить коммутатор-->
  <!--      </button>-->
  <!--    </div>-->

  <!--  </div>-->


</div>

<div class="mat-elevation-z8">
  <table class="margin-table" mat-table matSort
         (matSortChange)="sortData($event)"
         [dataSource]="dataSource">

    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef

      ></th>
      <td mat-cell class="index-title"
          *matCellDef="let i = index"> {{(i + 1) + (channelSearchValues.pageNumber * channelSearchValues.pageSize) }} </td>
    </ng-container>

    <ng-container matColumnDef="guidServer">
      <th mat-header-cell mat-sort-header class="text-center" *matHeaderCellDef>Имя сервера</th>
      <td mat-cell class="server-title"
          [class.completed]="channel.lostChannel"
          [class.no-info-2]="channel.guidServer.serverName == undefined || null"
          *matCellDef="let channel"> {{channel.guidServer && channel.guidServer.serverName ? channel.guidServer.serverName : 'Нет информации'}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header class="text-center" *matHeaderCellDef>Имя канала</th>
      <td mat-cell class="channel-title"
          [class.completed]="channel.lostChannel"
          [class.no-info-2]="channel.name == undefined || null"
          *matCellDef="let channel"> {{channel.name ? channel.name : 'Нет информации'}} </td>
    </ng-container>

    <ng-container matColumnDef="signal">
      <th mat-header-cell mat-sort-header class="text-center"
          *matHeaderCellDef>Состояние</th>
      <td mat-cell class="signal-title"
          *matCellDef="let channel"
      >
        <div [class.test-red]="(channel.signal  == undefined || channel.signal  == null || channel.signal  == -1) && !channel.lostChannel"
             [class.test-green]="(channel.signal && channel.signal == 1) && !channel.lostChannel"
             [class.test-grey]="channel.lostChannel"
             class="tests"> {{channel.signal && channel.signal == 1 ? 'В сети' : channel.signal == -1 ? 'Вне сети' : 'Неизвестно'}}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="reboot-button">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell class="signal-title"
          *matCellDef="let channel"
      >

        <button [disabled]="!canReboot(channel) || channel.lostChannel == true"
                (click)="cameraReboot(channel)"
                class="reset-button" mat-mini-fab color="warn">reset
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="ip">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>IP адрес камеры</th>
      <td mat-cell class="ip-title" *matCellDef="let channel"
          [class.completed]="channel.lostChannel"
          [class.no-info-2]="(channel.ip == undefined || null) || (channel.ip == undefined || null)"
      > {{channel.ip && channel.ip.length < 25 ? channel.ip : (channel.ip && channel.ip.length >= 25)
        ? 'Слишком большое имя (RTSP)' : 'Нет информации'}} </td>

    </ng-container>

    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef>Модель</th>
      <td mat-cell class="model-title"
          [class.completed]="channel.lostChannel"
          [class.no-info-2]="channel.model == undefined || null"
          *matCellDef="let channel"> {{channel.model ? channel.model : 'Нет информации'}} </td>
    </ng-container>

    <ng-container matColumnDef="lastUpdate">
      <th mat-header-cell *matHeaderCellDef>Последнее обновление</th>
      <td mat-cell class="update-title"
          [class.completed]="channel.lostChannel"
          *matCellDef="let channel"> {{channel.lustUpdate ? (channel.lustUpdate | date:'short') : 'Нет информации'}} </td>
    </ng-container>

    <ng-container matColumnDef="switchId">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>IP адресс свитча</th>
      <td mat-cell class="switch-title link" *matCellDef="let channel"
          (click)="onFilterBySwitch(channel.switchId)"
          [class.completed]="channel.lostChannel"
          [class.no-info-2]="(channel.switchId == undefined || null) || (channel.switchId.ip == undefined || null)"
      >{{channel.switchId && channel.switchId.ip ? channel.switchId.ip : 'Нет информации'}} </td>
    </ng-container>

    <ng-container matColumnDef="port">
      <th mat-header-cell *matHeaderCellDef>Номер порта(зелёный с POE)</th>
      <td mat-cell class="port-title text-center"
          [class.no-info-2]="channel.port == undefined || null"
          [class.completed]="channel.lostChannel"
          [class.red2]="redGreenStylePort(channel) == 2"
          [class.green]="redGreenStylePort(channel) == 3"
          *matCellDef="let channel"> {{channel.port ? channel.port : 'Нет информации'}} </td>
    </ng-container>

    <ng-container matColumnDef="lostChannel">
      <th mat-header-cell *matHeaderCellDef>Потерянный канал</th>
      <td mat-cell class="injector-title text-center"
          *matCellDef="let channel">
        <mat-checkbox class="example-margin"
                      [checked]="channel.lostChannel"
                      [disabled]="true"
        ></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="poeInjector">
      <th mat-header-cell *matHeaderCellDef>Пое инжектор?</th>
      <td mat-cell class="injector-title text-center"
          *matCellDef="let channel">
        <mat-checkbox class="example-margin"
                      [checked]="channel.poeInjector"
                      [disabled]="true"
        ></mat-checkbox>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td class="edit-title-2" mat-cell *matCellDef="let channel">
        <button mat-icon-button (click)="openEditChannelDialog(channel)"
                class="edit-icon">
          <mat-icon atia-hidden="false">edit</mat-icon>

        </button>
      </td>
    </ng-container>

  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"
                 [pageIndex]="channelSearchValues.pageNumber"
                 [pageSize]="channelSearchValues.pageSize"
                 [length]="totalChannelsFounded"

                 (page)="pageChanged($event)"
                 showFirstLastButtons
                 aria-label="Select page of channels">
  </mat-paginator>
</div>

