table {
  width: 100%;
}

.example-form-field {
  margin-right: 14px;
}

.no-info {
  color: #d76666 !important;
}

.text-left-2 {
  padding-bottom: 10px;
  padding-top: 10px;
}


.text-right-2 {
  position: relative;
  display: inline-block;
  nav-left: auto;
}

.mat-radio-button ~ .mat-radio-button {
  margin-top: 16px;
  margin-left: 16px;
  text-align: right;
  font-size: 14px;
}

.mat-expansion-panel-header-description {
  display: flex;
  flex-grow: 44;
  margin-right: 16px;
}

.server-title {
  padding: 5px;
  /*width: 6%;*/
}

.channel-title {
  padding: 5px;
  /*width: 10%;*/
}

.signal-title {
  padding: 5px;
  /*width: 5%;*/
  position: relative;
}

.reset-button {
  padding-left: 5px;
  padding-right: 5px;
  position: center;
  font-size: 12px;
  box-shadow: inset 0px 3px 20px 14px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%)
}

.ip-title {
  padding: 5px;
  /*width: 20%;*/
}

.model-title {
  padding: 5px;
  /*width: 10%;*/
}

.update-title {
  padding: 5px;
  /*width: 10%;*/
}

.port-title {
  padding: 5px;
  /*width: 5%;*/
}

.switch-title {
  padding: 5px;
  /*width: 5%;*/
}

.injector-title {
  padding: 5px 5px 5px 5px;
  position: center;
  /*width: 5%;*/
}

.index-title {
  padding: 5px;
  /*width: 3%;*/
  color: #b1b1b1;
}


.edit-title-2 {
  padding: 5px;
  /*width: 2%;*/
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.text-right-3 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  text-align: right;
}

.green {
  color: #45a457;
}

.red {
  color: red;
}


.red2 {
  color: #dd3e3e;
}

.edit-icon {
  cursor: pointer;
  color: #b38989;
  font-size: 18px;
  margin-left: 3px;
  margin-right: 3px;
}

.no-info-2{
  color: #a29f9f;
}

.test-filters {
  display: inline-block;
}

.test-green {
  position: center;
  padding: 4px;
  text-align: center;
  font-size: 12px;
  width: 80%;
  background-color: #527258;
  box-shadow: -1px -1px 19px -4px #000000;
  border-radius: 6px;
}

.test-red {
  position: center;
  padding: 4px;
  text-align: center;
  font-size: 12px;
  width: 85%;
  background-color: #814f4f;
  box-shadow: -1px -1px 19px -4px #000000;
  border-radius: 6px;
}

.test-grey {
  position: center;
  padding: 4px;
  text-align: center;
  font-size: 12px;
  width: 85%;
  background-color: #595959;
  box-shadow: -1px -1px 19px -4px #000000;
  border-radius: 6px;
}


.radio-button-green {
  padding: 2px;
  text-align: center;
  font-size: 11px;
  position: absolute;
  top: 10px;
  /*width: 20%;*/
  background-color: #527258;
  box-shadow: -1px -1px 19px -4px #000000;
  border-radius: 156px;
}

.radio-button-red {
  padding: 2px;
  text-align: center;
  font-size: 10px !important;
  position: absolute;
  top: -6px;
  left: 85px;
  /*width: 20%;*/
  background-color: #814f4f;
  box-shadow: -1px -1px 19px -4px #000000;
  border-radius: 156px;
}


.radio-button-default {
  padding: 2px;
  text-align: center;
  font-size: 11px !important;
  position: absolute;
  top: -6px;
  left: 223px;
  /*width: 20%;*/
  /*background-color: #3a7844;*/
  box-shadow: -1px -1px 19px -4px #000000;
  border-radius: 156px;
}


.radio-button-lost-channel {
  padding: 2px;
  text-align: center;
  font-size: 11px !important;
  position: absolute;
  top: -6px;
  left: 163px;
  /*width: 20%;*/
  background-color: #595959;
  box-shadow: -1px -1px 19px -4px #000000;
  border-radius: 156px;
}

.completed {
  text-decoration: line-through;
  color: #797979;
}

.mat-row:hover {
  background-color: #515050;
}



::ng-deep .mat-radio-label-content {
  position: relative;
  top: 4px !important;
  right: 4px;
}

::ng-deep .mat-radio-container {

  top: 4px !important;
  left: 1px;
}
