<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Камеры
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon>search</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="row">

      <div class="col-lg-2 col-md-6 col-sm-12 text-left-2">

        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Поиск по названию</mat-label>
          <input matInput type="text" [(ngModel)]="tmpChannelName"
                 (keyup)="findByTitle()"
                 (keydown.escape)="tmpChannelName=''; dropChannelNameFilter();"
          >
          <button *ngIf="tmpChannelName" matSuffix mat-icon-button aria-label="Clear"
                  (click)="tmpChannelName=''; dropChannelNameFilter()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <mat-form-field appearance="fill">
          <mat-label>Фильтр по коммутатору</mat-label>
          <mat-select [(value)]="tmpSwitchId"
                      (selectionChange)="onFilterBySwitchIP(tmpSwitchId)">
            <mat-option
              *ngFor="let newSwitch of switches"
              (change)="onFilterBySwitch(newSwitch)"
              [value]="newSwitch.id">{{newSwitch.ip}}</mat-option>
          </mat-select>
          <button *ngIf="tmpSwitchId"
                  (click)="tmpSwitchId = null; dropSwitchFilter(); $event.stopPropagation()"
                  mat-button matSuffix mat-icon-button aria-label="Clear" class="size20">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">

        <mat-radio-group aria-label="Select an option"
                         [(ngModel)]="tmpChannelStatus"
                         (change)="onFilterByStatus()"
        >


          <mat-radio-button class="green" [value]="1">В сети</mat-radio-button>
          <mat-radio-button class="red" [value]="-1">Вне сети</mat-radio-button>
          <mat-radio-button [value]="null" checked>Все</mat-radio-button>
        </mat-radio-group>

      </div>


    </div>


  </mat-expansion-panel>
</mat-accordion>

<div class="row">

  <div class="col-lg-6 col-md-6 col-sm-12 text-right-2"


       *ngIf="tmpChannelName || tmpChannelStatus || tmpSwitch || tmpSwitchId ">

    <div mat-dialog-actions appearance="fill">
      <button mat-raised-button color="accent"
              (click)="dropAllFilters()"

      >Сбросить фильтры
      </button>
    </div>

  </div>



  <div class="col-lg-6 col-md-6 col-sm-12 text-right-3">

    <div mat-dialog-actions appearance="fill"
    >
      <button mat-raised-button color="warn"
              (click)="openAddDialog()"

      >Добавить коммутатор
      </button>
    </div>

  </div>


</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">


    <ng-container matColumnDef="index" >
      <th mat-header-cell *matHeaderCellDef

      ></th>
      <td mat-cell class="index-title"  *matCellDef="let i = index"> {{i + 1}} </td>
    </ng-container>

    <ng-container matColumnDef="guidServer">
      <th mat-header-cell *matHeaderCellDef>Имя сервера</th>
      <td mat-cell class="server-title"
          [class.no-info-2]="channel.guidServer.serverName == undefined || null"
          *matCellDef="let channel"> {{channel.guidServer && channel.guidServer.serverName ? channel.guidServer.serverName : 'Нет информации'}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Имя канала</th>
      <td mat-cell class="channel-title"
          [class.no-info-2]="channel.name == undefined || null"
          *matCellDef="let channel"> {{channel.name ? channel.name : 'Нет информации'}} </td>
    </ng-container>

    <ng-container matColumnDef="signal">
      <th mat-header-cell *matHeaderCellDef>Состояние</th>
      <td mat-cell class="signal-title" *matCellDef="let channel"
          [class.no-info]="channel.signal  == undefined || channel.signal  == null || channel.signal  == -1"
          [class.green]="channel.signal && channel.signal == 1"
      > {{channel.signal && channel.signal == 1 ? 'В сети' : 'Вне сети'}}

        <button [disabled]="!canReboot(channel)"
                (click)="cameraReboot(channel)"
                class="reset-button" mat-mini-fab color="warn">reset</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="ip">
      <th mat-header-cell *matHeaderCellDef>IP адрес камеры</th>
      <td mat-cell class="ip-title" *matCellDef="let channel"
          [class.no-info-2]="(channel.ip == undefined || null) || (channel.ip == undefined || null)"
      > {{channel.ip ? channel.ip : 'Нет информации'}} </td>

    </ng-container>

    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef>Модель</th>
      <td mat-cell class="model-title"
          [class.no-info-2]="channel.model == undefined || null"
          *matCellDef="let channel"> {{channel.model ? channel.model : 'Нет информации'}} </td>
    </ng-container>

    <ng-container matColumnDef="lastUpdate">
      <th mat-header-cell *matHeaderCellDef>Последнее обновление</th>
      <td mat-cell class="update-title"
          *matCellDef="let channel"> {{channel.lustUpdate ? (channel.lustUpdate | date:'medium') : 'Нет информации'}} </td>
    </ng-container>

    <ng-container matColumnDef="switchId">
      <th mat-header-cell *matHeaderCellDef>IP адресс свитча</th>
      <td mat-cell class="switch-title link" *matCellDef="let channel"
          (click)="onFilterBySwitch(channel.switchId)"
          [class.no-info-2]="(channel.switchId == undefined || null) || (channel.switchId.ip == undefined || null)"
      >{{channel.switchId && channel.switchId.ip ? channel.switchId.ip : 'Нет информации'}} </td>
    </ng-container>

    <ng-container matColumnDef="port">
      <th mat-header-cell *matHeaderCellDef>Номер порта (красным без пое)</th>
      <td mat-cell class="port-title"
          [class.no-info-2]="channel.port == undefined || null"

          [class.red2]="redGreenStylePort(channel) == 2"
          [class.green]="redGreenStylePort(channel) == 3"
          *matCellDef="let channel"> {{channel.port ? channel.port : 'Нет информации'}} </td>
    </ng-container>


    <ng-container class="injector-title-2" matColumnDef="poeInjector">
      <th mat-header-cell *matHeaderCellDef>Есть ли пое инжектор?</th>
      <td mat-cell class="injector-title"
          *matCellDef="let channel">
        <mat-checkbox class="example-margin"
                      [checked]="channel.poeInjector"
                      [disabled]="true"
        ></mat-checkbox>
      </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td class="edit-title-2" mat-cell *matCellDef="let channel">
        <button mat-icon-button (click)="openEditChannelDialog(channel)"
                class="edit-icon">
          <mat-icon atia-hidden="false">edit</mat-icon>

        </button>
      </td>
    </ng-container>

  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"
                 showFirstLastButtons
                 aria-label="Select page of channels">
  </mat-paginator>
</div>



